  
  body {
    margin: 0;
    color: #0d0d0c;
   font-size: 18px;
   display: grid;
grid-template-rows: auto auto;
   grid-template-columns: 1fr 6fr;
   
   }
   
   
   h1{
     font-family: "Protest Strike", sans-serif;
     font-size: 50pt;
     text-align: center; /* Center the text */
     margin: 0;
     color: #0d0d0c;
   }

   a{
        text-decoration: none;
        color: #0d0d0c;
        background-color: none;
    margin-bottom: 20px;
    font-size: 20pt;
   }
   a:hover{
    color: palevioletred;
  
   }

   header{
    grid-column: 1 / -1;
    /* margin-top: 10px; */
    /* margin: 0; */
  
   }


   nav {
    grid-row: 2;
    display: flex; /* Use flexbox for nav items */
margin-left: 10px;
  
}

nav a {
 
    text-decoration: none; /* Remove underline */
    color: #0d0d0c;
    font-size: 14pt;

}
  main{
    grid-row: 2;
    max-width: 820px;
   
   }

   .carousel-container {
    max-width: 800px; 
    position: relative;
    overflow: hidden;
    margin-top: 0;
    z-index: -2;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.9s linear;

  }

  
  
  .carousel img {
    height: 750px;
    object-fit: cover;
    padding: 10px;
  }

  .bioContainer{
    display: flex;
    max-width: 800px;
    margin-top: 20px;

    
 }
#icon{
    max-width: 35px;
}
#icon:hover{
    max-width: 50px;
}

.talk{
    font-size: 16pt;
    align-items: center;
}


#photo-gallery {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; /* Add vertical scrolling */
 max-height: 900px;

}

#photo-gallery img {
   padding: 5px;
    width: 250px;
    object-fit: cover;
   
}

.prices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 5px; Space between columns */
    /* text-align: center; */
    /* border-style: solid; */
}


.prices div {
  border-style: solid;
}




.contactContainer1{
    display: flex;
    margin-top: 50px;
    max-width: 800px;
    background-color: #77bb79;
    padding: 20px;
    border-style: solid;
}
.contactContainer1 img{
  max-height: 550px;

    border-radius: 100pt;

}
.contactContainer2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  padding: 10px;
margin-top: 50px;
 
  max-width: 750px;
 

}
.contactContainer2 div{
  border-style: solid;
  background-color: #77bb79;

}

.bioblurb{
min-height: 400px;
}

.braah-one-regular {
  font-family: "Braah One", sans-serif;
  font-weight: 400;
  font-style: normal;
}