* {
background-color: #976969;
}

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* background-color: #f5f5f5; */
 margin: 0;
}

.carousel-container {
  width: 300px; Match image width
  /* height: 300px; */
  overflow: hidden;
  position: relative;
  margin: 0;
}

.carousel {
  display: flex;
  transition: transform 0.5s linear;
}

.carousel img {
  max-width: 300px; /* Image width */
  /* height: 300px; */
  object-fit: cover;
}
