  
  body {
    margin: 0;
    color: #0d0d0c;
   font-size: 18px;
   display: grid;
    grid-template-rows: auto auto;
   grid-template-columns: 1fr 6fr;
   
   }
   
   
   h1{
     font-family: "Protest Strike", sans-serif;
     font-size: 50pt;
     text-align: center; /* Center the text */
     color: #0d0d0c;
   }

   a{
        text-decoration: none;
        color: #0d0d0c;
        background-color: none;
    font-size: 20pt;
   }

   a:hover{
    color: palevioletred;
    font-size: 25pt;
  
   }

   header{
    grid-column: 1 / -1;
    /* margin-top: 10px; */
    /* margin: 0; */
  
   }


   nav {
    grid-row: 2;
    display: flex; /* Use flexbox for nav items */
margin-left: 10px;
  
}

nav a {
 
    text-decoration: none; /* Remove underline */
    color: #0d0d0c;
    font-size: 14pt;

}
  main{
    max-width: 900px;

   }

   .carousel-container {
    max-width: 900px; 
    position: relative;
    overflow: hidden;
    margin-top: 0;
    z-index: -2;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.9s linear;
    max-width: 900px; 
  }

  
  
  .carousel img {
    height: 800px;
    object-fit: cover;
    margin-right: 10px;
  }

  
#icon{
    max-width: 35px;
}
#icon:hover{
    max-width: 50px;
}



#photo-gallery {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; /* Add vertical scrolling */
 max-height: 800px;
 max-width: 900px;

}

#photo-gallery img {
   padding: 5px;
    width: 275px;
    object-fit: cover;
   
}

.prices {
    display: grid;
    grid-template-row: repeat(3, 1fr);
    gap: 5px;
    /* text-align: center; */
    /* border-style: solid; */
}


.prices div {
  border-style: solid;
}




.contactContainer1{
    display: flex;
    /* margin-top: 50px; */
    max-width: 800px;
    background-color: #77bb79;
    padding: 20px;
    border-style: solid;
}
.contactContainer1 img{
  max-height: 550px;

    border-radius: 100pt;

}
.contactContainer2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  padding: 10px;
margin-top: 50px;
 
  max-width: 750px;
  background-color: #77bb79;

}
.contactContainer2 div{
  border-style: solid;
  background-color: #77bb79;

}

.bioblurb{
min-height: 400px;

}

.main2{
  max-height: 800px;
  overflow: hidden;
  overflow-y: auto; 
}

/* Media Queries  */

/* Mobile styles (up to 600px) */
@media only screen and (max-width: 600px) {
  body {
      font-size: 14px; /* Smaller font size for mobile */
      margin: 0;
      color: #0d0d0c;
    }
   
    .carousel-container {
      max-width: 300px; 
      min-width: 300px; 
      position: relative;
      overflow: hidden;
      margin-top: 0;
      z-index: -2;
    }
    
    .carousel {
      display: flex;
      transition: transform 0.9s linear;
      max-width:300px; 
    }
  
    
.carousel img {
max-width: 300px; 
min-width: 300px;
object-fit: cover;
/* margin-right: 10px; */
}

#photo-gallery {
display: flex;
flex-wrap: wrap;
overflow-y: auto; /* Add vertical scrolling */
max-height: 600px;
max-width: 300px;

}

#photo-gallery img {
  max-width: 250px;
  object-fit: cover;
 
}

.prices {
max-width: 300px;
}


.prices div {
border-style: solid;
}




.contactContainer1{
  display: flex;
  /* margin-top: 50px; */
  max-width: 300px;
  background-color: #77bb79;
  /* padding: 20px; */
  border-style: solid;
}
.contactContainer1 img{
max-height: 400px;

  border-radius: 100pt;

}
.contactContainer2{
  max-width: 300px;
background-color: #77bb79;

}
.contactContainer2 div{
border-style: solid;
background-color: #77bb79;

}

.bioblurb{
min-height: 400px;

}

.main2{
max-height: 400px;
overflow: hidden;
overflow-y: auto; 
}

/* Tablet styles (601px to 900px) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  body {
    font-size: 14px; /* Smaller font size for mobile */
    margin: 0;
    color: #0d0d0c;
  }
 
  .carousel-container {
    max-width: 300px; 
    position: relative;
    overflow: hidden;
    margin-top: 0;
    z-index: -2;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.9s linear;
    max-width:300px; 
  }

  
  .carousel img {
    height: 300px;
    object-fit: cover;
    /* margin-right: 10px; */
  }

#photo-gallery {
display: flex;
flex-wrap: wrap;
overflow-y: auto; /* Add vertical scrolling */
max-height: 400px;
max-width: 300px;

}

#photo-gallery img {
padding: 5px;
width: 275px;
object-fit: cover;

}

.prices {
max-width: 300px;
}


.prices div {
border-style: solid;
}




.contactContainer1{
display: flex;
/* margin-top: 50px; */
max-width: 300px;
background-color: #77bb79;
/* padding: 20px; */
border-style: solid;
}
.contactContainer1 img{
max-height: 400px;

border-radius: 100pt;

}
.contactContainer2{
max-width: 300px;
background-color: #77bb79;

}
.contactContainer2 div{
border-style: solid;
background-color: #77bb79;

}

.bioblurb{
min-height: 400px;

}

.main2{
max-height: 400px;
overflow: hidden;
overflow-y: auto; 
}

/* Desktop styles (901px and above) */
